body {
    background: linear-gradient(60deg,#367d6d,#fe9d08,#1cbdd8,#767c9a,#7a91a5);
    background-size: 300% 300%;
    animation: gradient-animation 40s ease infinite;
    margin: 0;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
}

* {
    outline: 1px solid black;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#title {
    text-align: center;
}

#row {
    display: flex;
    justify-content: center;
}

#amount-input, #currency-choice {
    text-align: center;
    align-items: center;
    margin: 20px;
}

h1 {
    font-size: 50px;
    color: white;
    margin: 0;
    padding: 20px;
}

h2 {
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 20px;
}