/** {*/
/*    outline: 1px solid black;*/
/*}*/

body {
    background: linear-gradient(133deg,#1da03d,#50afe8,#f3234b,#ec4db1,#8ea08e);
    background-size: 300% 300%;
    animation: gradient-animation 30s ease infinite;
    margin: 0;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;

    display: flex;             /* Turn body into a flexbox */
    flex-direction: column;    /* Stack items vertically */
    justify-content: center;   /* Center vertically */
    align-items: center;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#title, #result {
    text-align: center;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

#amount-input, .currency-choice {
    text-align: center;
    align-items: center;
    margin: 30px;
}

h1 {
    font-size: 100px;
    color: white;
    margin: 0;
    padding: 20px;
}

h2 {
    font-size: 50px;
    color: white;
    margin: 0;
    padding: 20px;
}

#amount, .currency-dropdown {
    width: 70%;
    padding: 20px;
}

#convert {
    width: 20%;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
}