body {
    background: linear-gradient(133deg,#1da03d,#50afe8,#f3234b,#ec4db1,#8ea08e);
    background-size: 300% 300%;
    animation: gradient-animation 30s ease infinite;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#title, #result {
    text-align: center;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

#amount-input, .currency-choice {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h1 {
    font-size: 3rem;
    color: white;
    margin: 0;
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 10px;
}

#amount, .currency-dropdown {
    width: 250px;
    height: 50px;
    padding: 0 10px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    line-height: 50px;
}

#convert {
    padding: 15px 40px;
    margin: 30px;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#convert:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    transition: transform 0.2s;
}